.estilosContainer {
    background-color: rgba(127, 255, 212, 0.692);
    padding: 10px;
}

.estilosItemDetail {
    background-color: rgb(193, 193, 194);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px black;
    border-radius: 10px
}

.alMedio {
    text-align: center;
}

.imagenes{
    width: 100%;
}

.flexBotonesCart {
    display: flex;
    justify-content: space-evenly;
    
}

.estilosImagen {
    height: 100px;
    width: 100px;
}

.estilosBackgroundFondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://i.ibb.co/Ltcj5Br/4621939-min.jpg);
    background-attachment: fixed;
    height: 100vh;
}
.colorThead{
    background-color: rgba(209, 203, 203, 0.815);
}
.colorTbody{

    background-color: rgba(0, 0, 0, 0.87);
}
.colorLetra{
    color: white;
}
.widthTh{
    width: 5%;
}
.estiloTabla{
    box-sizing: content-box;
    width: 80%;
    align-self: center;
}

.estilosBoton{
    width: 20%;
    align-self: center;
}

.estiloDivCarritoVacio{
    background-color:rgba(77, 74, 74, 0.726);
    color: rgb(216, 209, 209);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0px 5%;
}

.flexDivBotonesCarrito {
    display: flex;
    justify-content: space-evenly;
    margin : 10px 0px;
}
