
.cartWidgetFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 5px;
    width: 90px;
}

.hola{
    text-align: center;
    font-size: x-large;
    margin: 0px;
}
.chau {
    text-align: center;
    font-size: x-large;
    margin: 0px;
}

