.estilosCard {
    width: 18rem; 
    margin: 5px;
    background-color: rgba(12, 12, 12, 0.816);
    color: white;
    max-height: max-content;
}
.estiloGrupoCard{
    background-color: rgba(12, 12, 12, 0);
    color: white;

}

.estiloCardBody{
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}