.contenedorContador {
    background-color: rgba(5, 5, 5, 0.781);
    padding: 10px;
}

.alMedio {
    text-align: center;
}

.contenedores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexContador {
    width: 200px;
    margin: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-content: center;
}

.colorTitulo{
    color: white;
}